# Игнорировать все файлы и папки
*
*/

# Кроме Python файла и output папки
!video_to_lottie.py
!.gitignore
!output-lotties/
!output-lotties/*

# Игнорировать временные Python файлы
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
